ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  cursor: pointer;
  margin-bottom: 10px;
}

.scheda-lista-spesa {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
}

.scheda-lista-spesa button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.scheda-lista-spesa button:hover {
  background-color: #0056b3;
}
