/* visualizza-menu.component.scss */

ul {
  list-style-type: none;
  /* Rimuove i pallini dall'elenco */
  padding: 0;
  /* Rimuove il padding predefinito dell'elenco */
  margin: 0;
  /* Rimuove il margine predefinito dell'elenco */
}

/* Stile per i titoli dei menu */
h2 {
  cursor: pointer;
  /* Cambia il cursore al passaggio sopra il titolo */
  margin-bottom: 10px;
  /* Spazio tra i titoli */
}
